@import "./mixins";
@import "./variables";
@include reset;
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  font-family: 'Bai Jamjuree', Helvetica, Arial, sans-serif;
}
h3 {    
  font-family: 'Bai Jamjuree', Helvetica, Arial, sans-serif;
  color: $primary;
}
#app {
    font-family: 'Bai Jamjuree', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  #nav {
    padding: 30px;
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
  