@import "./mixins";
@import "./variables";
@include reset;
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Bai Jamjuree", Helvetica, Arial, sans-serif;
}
.v-application.bg {
  background: rgb(47, 145, 213);
  background: linear-gradient(
    150deg,
    rgba(47, 145, 213, 1) 0%,
    rgba(8, 6, 56, 1) 100%
  );
}
h3 {
  font-family: "Bai Jamjuree", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.nav {
  display: flex;
  padding: 10px 10px;
  height: 60px;
  align-items: center;
  .nav-logo {
    height: 40px;
  }
  span {
    font-family: "Bai Jamjuree", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-left: 10px;
    color: white;
  }
}

.frame-main {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: row wrap;
  .frame-booklist {
    @include frame-bg;
    flex: 3;
    margin-right: 20px;
    height: calc(100vh - 100px);
  }

  .frame-summary {
    @include frame-bg;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 100px);
  }
}

.frame-customer {
  height: calc(100vh - 80px);
  display: flex;
  flex-flow: row wrap;
  margin-top: 70px;
  .frame-ads {
    @include frame-bg;
    flex: 3;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: "Bai Jamjuree", Helvetica, Arial, sans-serif;
  }

  .frame-summary {
    @include frame-bg;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 80px);
  }
}

.credit {
  height: 38px;
  font-size: 0.75rem;
  padding: 0 15px;
  text-align: right;
  > a.ext-credit {
    color: $primary;
    opacity: 0.3;
  }
}
